<div class="card text-center">
  <div class="card-body">
    <h4 class="card-title">Click here to start a trivia game!</h4>
    <a [routerLink]="['/play']" class="btn btn-primary">Play</a>
  </div>
</div>
<!-- Button trigger modal -->
<!-- <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#loginModal">
    Login
</button> -->
  
  <!-- Modal -->
  <div  class="modal fade" id="loginModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Login</h5>
          <button type="button" class="close" data-dismiss="modal">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <form (submit)="login(loginForm)" #loginForm='ngForm'>
          <div class="modal-body">
                  <p>Name: <input type="text" name="name" [(ngModel)]="new_user.name"></p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary" data-dismiss="modal" onclick="$('.modal').modal('hide')">Save name</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div *ngIf="curr_user && curr_user.score" class="alert alert-success" role="alert">
    That was great, {{curr_user.name}}! Your score is {{curr_user.score}}/3 ({{curr_user.percent}}%).
  </div>
  <br>
  <div><input type="text" [(ngModel)]='searchText' placeholder="Search..."></div>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Player Name</th>
        <th>Score</th>
        <th>Percentage</th>
      </tr>
    </thead>
    <tbody>
    <tr *ngFor="let player of all_users | filter: searchText">
        <td scope="row">{{player.name}}</td>
        <td>{{player.score}}/3</td>
        <td>{{player.percent}}%</td>        
    </tr>
    </tbody>
  </table>